* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2b2b2b;
  font-family: Work Sans;
}

header {
  padding: 20px 0;

  .navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    line-height: 140%;

    .logo {
      img {
        color: #ffffff;
      }
    }

    .menu {
      display: flex;
      justify-content: center;
      gap: 35px;
      text-align: center;

      ul {
        display: flex;
        gap: 25px;

        li {
          display: flex;
          align-items: center;
          list-style: none;
          a {
            text-decoration: none;
            color: #ffffff;
            font-weight: 600;
          }
        }
      }
      .signup-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        color: #ffffff;
        padding: 0 40px;
        background-color: #a259ff;
        border: none;
      }
     
    }
       
  }
   
}

#marketplace-creators {
  .marketplace-headline {
    color: #ffffff;
    margin: 80px 0;
    .top-creators {
      font-size: 51px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .checkout-text {
      font-size: 22px;
    }
  }
}

#date {

  .burger-date{
        display: none;
      }
      
  .date {
    color: #858584;
    display: flex;
    justify-content: space-between;
    .date-text {
      font-size: 22px;
      font-weight: 600;
      line-height: 140%;
    }
    
    .date-text:nth-child(1) {
      color: #ffffff;
    }
     
  }
}

#artist-list {
  margin: 30px 0;

  .artist-list {
    display: flex;
    justify-content: space-between;
    padding: 15px 80px 15px 15px;

    line-height: 140%;
    border: 1px solid;
    border-radius: 20px;

    color: #858584;
    .art-left {
      display: flex;
      gap: 50px;
    }
    .art-right {
      display: flex;
      gap: 80px;
    }
  }
}

#artist-name-list {
  .artist-listt {
    display: flex;
    justify-content: space-between;

    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px 80px 15px 15px;
    background-color: #3b3b3b;

    .artist-list-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .list-no {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #858584;
        background-color: #2b2b2b;
        border-radius: 20px;
      }

      .name {
        color: #ffffff;
        font-size: 22px;
        font-weight: 600;
      }
    }

    .artist-list-right {
      display: flex;
      align-items: center;
      gap: 110px;

      .green {
        color: #00ac4f;
      }
      .sold {
        color: #ffffff;
      }
      .volume {
        color: #ffffff;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

    header {
  .navbar {
     .menu {
      display: none;
       
    }
    .burger-menu{
      display: block;
      font-size: 36px;
    }
  }
}

  #marketplace-creators {
    .marketplace-headline {
    
      .top-creators {
        margin-top: -50px;
        font-size: 28px;
      
       
      }

      .checkout-text {
        font-size: 18px;
      }
    }
  }


  #date {
    margin-top: -40px;
    .date {
      display: none;
    
      .date-text:nth-child(1) {
        color: #ffffff;
      }
    }
    .burger-date{
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      color: #858584;
      padding: 0 20px;
    }
  }

  #artist-list {
    .artist-list {
     

      .art-right {
              margin-right: -50px;

        p {
          display: none;
          
          &:last-child{
            display: block;
          }
        }

      }

      // .art-righ{
      //   // p:last-child{

      //   //   display: block;
      //   // }
      // }
    }
  }


  #artist-name-list {
  .artist-listt {
    display: flex;
    justify-content: space-between;

    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px 80px 15px 15px;
    background-color: #3b3b3b;

    .artist-list-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .list-no {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #858584;
        background-color: #2b2b2b;
        border-radius: 20px;
      }

      .name {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .artist-list-right {
     margin-right: -50px;
      p {
          display: none;
          
          &:last-child{
            display: block;
          }
        }


      
    }
  }
}


#footer-area {

  .footer-top {
   display: flex;
 flex-direction: column;
 

    .left {
      .footer-text-1 {
        color: #858584;
        padding: 15px 0;
      }

      .footer-text-2 {
        color: #858584;
      }

      
      }
    }

    .center {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .footer-header {
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        li {
          list-style: none;
          color: #858584;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 25px;
     
     
    }
    .subscribe-form {
      border-radius: 20px;

      // width: 425px;

      .subscribe-btn {
        padding: 20px 50px;
        background-color: #a259ff;
        color: #ffffff;
        border: none;
        margin-left: -85px;
        border-radius: 20px;
        font-weight: 600;
        .fa-regular {
          padding: 0 10px;
        }
      }
      input {
        border-radius: 20px;
        padding: 20px 50px;
        border: none;
      }
    }
  }



}
