@import "./_grid";
@import "./marketplace";
@import "./login";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2b2b2b;
  font-family: Work Sans;
}

header {
  padding: 20px 10px;
  width: 100%;

  .navbar {
    max-width: 1200px;
  margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    line-height: 140%;

    .logo {
      img {
        color: #ffffff;
      }
    }

    .menu {
      display: flex;
      justify-content: center;
      gap: 35px;
      text-align: center;

      ul {
        display: flex;
        gap: 25px;

        li {
          display: flex;
          align-items: center;
          list-style: none;
          a {
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
      .sign-button{
        border-radius: 10px;
          color: #ffffff;
          // padding: 0 40px;
          background-color: #a259ff;
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;

        .signup-btn {
          
          border: none;
        }
      }
       
      
    }

    .burger-menu{
      display: none;
    }
  }
}

#banner {
  padding: 80px 0;

  .banner-main {
    display: flex;
    gap: 30px;

    .banner-left {
      .h-1 {
        font-size: 67px;
        font-weight: 600;
        color: #ffffff;
        width: 510px;
        height: 222px;
      }
      .banner-text {
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        width: 510px;
        height: 105px;
        word-spacing: 5px;
        line-height: 160%;
      }
      .banner-btn {
        background-color: #a259ff;
        padding: 20px 50px;
        font-weight: 600;
        color: #ffffff;
        border-radius: 20px;
        border: none;
        margin: 30px 0;
        .fa-solid{
          margin-right: 10px;
        }
      }
      .header-rate {
        display: flex;
        gap: 60px;
        .total-sales {
          color: #ffffff;
          .text-sale {
            font-size: 28px;
            font-weight: 700;
          }
          .total-sale {
            font-size: 24px;
            font-weight: 400;
          }
        }
      }
    }

    .banner-right {
      width: 510px;
      background-color: #3b3b3b;
      border-radius: 22px;

      img {
        width: 100%;
        height: 401px;
        object-fit: cover;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
      }
      .image-text-header {
        color: #ffffff;
        font-size: 22px;
        font-weight: 600;
        line-height: 140%;
        width: 470px;
        height: 31px;
      }

      .banner-author {
        .author-author {
          padding: 15px;

          .image-icon {
            width: 24px;
            height: 24px;
          }

          .icon-text {
            color: #ffffff;
            font-family: work sans;
            font-weight: 400;

            height: 22px;
            line-height: 140%;
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
}

#trending {
  padding: 80px 0;

  .trending-title {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 0;
    .headline-h1 {
      font-size: 38px;
      font-weight: 600;
      padding-bottom: 10px;
    }
    .headline-text {
      font-size: 22px;
      font-weight: 400;
    }
  }

  .trending-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .main-img {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .big-img {
        width: 330px;
        height: 330px;
        border-radius: 20px;
      }
      .row-images {
        display: flex;
        justify-content: space-between;
        .img1 {
          width: 100px;
          height: 100px;
          border-radius: 20px;
        }
        .row-button{
          background-color: #a259ff;
          padding: 36px 16px;
          border: none;
          border-radius: 20px;
          color: #ffffff;
          font-size: 22px;
          font-weight: 700;
        }
      }
      .trending-h1 {
        color: #ffffff;
        font-size: 22px;
        font-weight: 600;
      }

      .trending-icons {
        display: flex;
        gap: 10px;
        .aut-name {
          line-height: 140%;
          color: #ffffff;
        }
      }
    }
  }
}

#artist-card-row {
  margin: 40px 0;

  .content-container {
    .top-creators {
      color: #ffffff;
      font-size: 38px;
      font-weight: 600;
      line-height: 120%;
      font-family: work sans;
    }
    .headline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      .checkout-text {
        font-family: work sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 160%;
        color: #ffffff;
      }
      .rankings {
        font-family: work sans;
        border: 2px solid #a259ff;
        border-radius: 20px;
        padding: 20px 50px;
        background-color: transparent;
        color: #ffffff;
        line-height: 140%;
        font-weight: 600;
        .fa-solid {
          color: #a259ff;
          margin-right: 10px;
        }
      }
    }
  }

  .artist-container {
    .card-main {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      margin: 0 auto; // 💥 This centers it!
      gap: 30px;

      .card-box {
        width: 240px;
        height: 250px;
        border-radius: 20px;
        padding: 20px;
        gap: 20px;
        background-color: #3b3b3b;

        .card-num {
          background-color: #2b2b2b;
          border-radius: 50px;
          width: 30px;
          height: 30px;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .card-content {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          img {
            width: 120px;
            height: 120px;
          }

          .artist-name {
            font-weight: 600;
            font-size: 22px;
            line-height: 140%;
            color: #ffffff;
          }
          .sales-rate {
            color: #ffffff;
            span {
              color: #858584;
            }
          }
        }
      }
    }
  }
}

#categories {
  margin-top: 80px;

  .browse-category {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 40px;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    margin-bottom: 80px;

    .category-items {
      background-color: #3b3b3b;

      border-radius: 20px;
      .category-text {
        font-size: 22px;
        font-weight: 600;
        line-height: 140%;
        padding: 20px 55px;
        color: #ffffff;
      }
    }
  }
}

.highlight {
  img {
    width: 100%;
    height: 640px;
    object-fit: cover;
  }
}

#infocards {
  margin-top: 80px;

  .how-it-works {
    font-size: 38px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .find-out-how {
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
  }

  .info-card-sec {
    display: flex;
    gap: 30px;
    margin-top: 40px;

    .info-card-box {
      width: 330px;
      height: 439px;
      border-radius: 20px;
      background-color: #3b3b3b;

      .info-card-box2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .setup-your-wallet {
          font-weight: 600;
          font-size: 22px;
          color: #ffffff;
        }

        .setup-your-wallet-text {
          color: #ffffff;
          font-weight: 400;
          line-height: 140%;
          text-align: center;
        }

        img {
          width: 208px;
          height: 208px;
        }
      }
    }
  }
}

#subscribe-widget {
  margin: 80px 0;
  .subscribe-content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #3b3b3b;
    border-radius: 20px;

    img {
      width: 425px;
      height: 310px;
      border-radius: 20px;
      object-fit: cover;
    }
    .subscribe-text {
      width: 425px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 10px;
      .join {
        color: #ffffff;
        font-size: 38px;
        line-height: 120%;
        font-weight: 600;
      }

      .exclusive-promotions {
        color: #ffffff;
        font-weight: 400;
        padding-bottom: 25px;
        font-size: 22px;
        line-height: 160%;
      }

      .subscribe-form {
        border-radius: 20px;

        // width: 425px;

        .subscribe-btn {
          padding: 20px 50px;
          background-color: #a259ff;
          color: #ffffff;
          border: none;
          margin-left: -60px;
          border-radius: 20px;
          font-weight: 600;
          .fa-regular {
            padding: 0 10px;
          }
        }
        input {
          border-radius: 20px;
          padding: 20px 50px;
          border: none;
        }
      }
    }
  }
}

#footer-area {
  background-color: #3b3b3b;
  padding: 40px 0;
  .footer-top {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px 0;

    .left {
      .footer-text-1 {
        color: #858584;
        padding: 15px 0;
      }

      .footer-text-2 {
        color: #858584;
      }

      .footer-icons {
        .fa-brands {
          color: #858584;
          margin-top: 15px;
          font-size: 32px;
          padding-right: 15px;
        }
      }
    }

    .center {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .footer-header {
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        li {
          list-style: none;
          color: #858584;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 25px;
      .footer-header-right {
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
      }

      .footer-text-right-2 {
        color: #858584;
      }
    }
    .subscribe-form {
      border-radius: 20px;

      // width: 425px;

      .subscribe-btn {
        padding: 20px 50px;
        background-color: #a259ff;
        color: #ffffff;
        border: none;
        margin-left: -85px;
        border-radius: 20px;
        font-weight: 600;
        .fa-regular {
          padding: 0 10px;
        }
      }
      input {
        border-radius: 20px;
        padding: 20px 50px;
        border: none;
      }
    }
  }
  .line {
    height: 1px;
    background-color: #858584;
    width: 100%;
  }
  .last-part{
    color: #858584;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  header {
  .navbar {
     .menu {
      display: none;
       
    }
    .burger-menu{
      display: block;
      font-size: 32px;
    }
  }
}

  #banner {
   .banner-main {
    flex-direction: column;
    .banner-left {
      .h-1 {
        font-size: 47px; 
      }
      .banner-text {
      margin-top: -80px;
      }
    }
  }
}

#trending {
  .trending-title {
   
    .headline-h1 {
     display: flex;
   justify-content: center;
    }
    .headline-text {
      display: flex;
   justify-content: center;
    }
  }
  .trending-images {
    display: flex;
    flex-direction: column;
  }
}

.highlight {
  img {
    width: 100%;
    object-fit: cover;
    background-position: center;
  }
}


#infocards {
  .how-it-works {
    display: flex;
    justify-content: center;
  }
  .find-out-how {
     display: flex;
    justify-content: center;
  }


  .info-card-sec {
    display: flex;
    flex-direction: column;
   align-items: center;

    .info-card-box {
      width: 330px;
      height: 439px;
      border-radius: 20px;
      background-color: #3b3b3b;

      .info-card-box2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .setup-your-wallet {
          font-weight: 600;
          font-size: 22px;
          color: #ffffff;
        }

        .setup-your-wallet-text {
          color: #ffffff;
          font-weight: 400;
          line-height: 140%;
          text-align: center;
        }

        img {
          width: 208px;
          height: 208px;
        }
      }
    }
  }
}

#subscribe-widget { 
  .subscribe-content {
    display: flex;
    flex-direction: column;
    img {    
      width: 425px;
      height: 310px;
      margin-bottom: 20px;
    }
  }
}


#footer-area {

  .footer-top {
   display: flex;
 flex-direction: column;
 

    .left {
      .footer-text-1 {
        color: #858584;
        padding: 15px 0;
      }

      .footer-text-2 {
        color: #858584;
      }

      
      }
    }

    .center {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .footer-header {
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        li {
          list-style: none;
          color: #858584;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 25px;
     
     
    }
    .subscribe-form {
      border-radius: 20px;

      // width: 425px;

      .subscribe-btn {
        padding: 20px 50px;
        background-color: #a259ff;
        color: #ffffff;
        border: none;
        margin-left: -85px;
        border-radius: 20px;
        font-weight: 600;
        .fa-regular {
          padding: 0 10px;
        }
      }
      input {
        border-radius: 20px;
        padding: 20px 50px;
        border: none;
      }
    }
  }
  .line {
    height: 1px;
    background-color: #858584;
    width: 100%;
  }
  .last-part{
    color: #858584;
    padding-top: 10px;
  }
}




     

 



