* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
nav ul li a {
  color: black;
}
nav ul li a:hover {
  cursor: pointer;
  color: red;
}

.social-icons input {
  padding: 10px 30px;
  border-radius: 22px;
  border: 0.2px solid gray;
}

.social-icons {
  position: relative;
}

.fa-magnifying-glass {
  position: absolute;
  right: 25px;
  bottom: 12px;
  color: gray;
}
.righticons {
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 24px;
}

button {
  padding: 6px 10px;
  border-radius: 22px;
  background-color: #2577fd;
  font-size: 18px;
  border: none;
  color: white;
}

.banner {
  background-color: #c8ebff;
  min-height: 800px;
}

.bannermain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text {
  text-align: left;
  width: 530px;
}
h4 {
  font-size: 36px;
  color: #2577fd;

  font-family: "Yellowtail", cursive;
}
h1 {
  font-size: 100px;
  line-height: 90px;
  margin-bottom: 15px;
}
.text span {
  font-style: italic;
  font-size: 24px;
}
.btn {
  margin-top: 20px;
}
.cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  margin-top: 20%;
  margin-bottom: 5;

 

}

 .fa-box{
  font-size: 24px;
  margin-bottom: 20px;
 }
 .card h3{
  margin-bottom: 15px;

 }
 .info{
  display: flex;
  align-items: center;
 }

 .shop-grid {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 50px;
  grid-auto-flow: row;
  grid-template-areas:
    "a b c"
    "d e f";
}

.a { grid-area: a; }

.b { grid-area: b; }

.c { grid-area: c; }

.d { grid-area: d; }

.e { grid-area: e; }

.f { grid-area: f; }


.latest-products p{
  font-size: 60px;
  margin-top: 10%;
}

.grid-5 {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  margin-top: 10%;
  grid-template-areas:
    "a b c d e";
}

.a { grid-area: a; }

.b { grid-area: b; }

.c { grid-area: c; }

.d { grid-area: d; }

.e { grid-area: e; }

 
 .footer-main{
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
 
 }
 .footer-main ul li{
  list-style: none;
      line-height: 20px;
      margin-top: 10px;

 }
 .footer-main ul li a{
    color: gray;

 }
 .footer-top p{
  width: 50%;
  margin-top:10px;
 }
 .footer-bot span{
  color: #2577fd;
 }
 .footer-bot{
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 5%;
 }
 @media (max-width: 1024px){
  .grid-5{
    display: grid;
   grid-template-areas: repeat(5) 2fr;

  }

 }

