*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
    color: white;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 500px;
        margin: 120px auto;

    }
    .stats-container{
        padding: 30px;
        border-radius: 20px;
        border:2px solid purple;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        width: 100%;

    }
    .details{
        width: 100%;

    }
    #progress{
        width: 90%;
        height: 10px;
        background-color: teal;
        border-radius: 10px;
        transition: all 0.3 ease;
    }
    #progressBar{
        width: 100px;
        height: 10px;
        background-color: gray;
        border-radius: 5px;
        margin-top: 20px;
    }
    #number{
        width: 100px;
        height: 100px;
        background-color: purple;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 30px;
        font-weight: bold;
    }

    form{
        margin-top: 60px;
        width: 100%;
        display: flex;
        gap: 10px;
    }
    input{
        flex: 1;
        padding: 10px;
        background-color: gray;
        border: 1px solid purple;
        border-radius: 10px;
        outline: none;
        color: white;

    }
    button{
        padding: 30px ;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: purple;
        color: white;
        font-size: 30px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border: none;
    }
    #task-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        width: 100%;
        list-style: none;
    }
    .taskItem{
        display: flex;
        background-color: grey;
        padding: 10px;
        border-radius: 10px;
        justify-content: space-between;
        align-items: center;
    }
    .task{
        display:flex;
        align-items: center;
        gap: 10px;
    }
    .task input{
        width: 20px;
        height: 20px;
    }
    .task.completed{
        text-decoration: line-through;
        color: teal;

    }
    .taskItem img{
        width: 24px;
        height: 24px;
        margin: 0 10px;
        cursor: pointer;

    }
